<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Order Register Page</h1>

        <form th:action="@{/Order/register}" th:method="post">
            <div class="form-group">
                <label >상품이름</label>
                <input type="text" class="form-control" name="pname">
            </div>
            <div class="form-group">
                <label >가격</label>
                <textarea class="form-control" rows="5" name="price"></textarea>
            </div>
            <div class="form-group">
                <label >이름</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label >주소</label>
                <input type="text" class="form-control" name="address">
            </div>

            <button type="submit" class="btn btn-primary">등록</button>
        </form>

    </th:block>

</th:block>
